<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <img menuClose src="assets/img/logo_verydark.jpg" class="dark-logo" (click)="openAbout()"/>
        </button>
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content class="place-list">

    <ion-list *ngIf="viewMode==='list'">

        <ion-item-sliding *ngFor="let place of places">
            <button ion-item (click)="openPlaceDetail(place)">
                <ion-thumbnail item-left>
                    <img src="{{place.image}}"/>
                </ion-thumbnail>
                <h2>{{place.name}}</h2>
                <p>{{place.time}}</p>
            </button>
        </ion-item-sliding>

    </ion-list>
    <ion-list *ngIf="viewMode==='favorites'">

        <ion-item-sliding *ngFor="let favorite of favorites">
            <button ion-item (click)="openPlaceDetail(favorite.place)">
                <ion-thumbnail item-left>
                    <img src="{{favorite.place.image}}"/>
                </ion-thumbnail>
                <h2>{{favorite.place.name}}</h2>
                <p>{{favorite.place.time}}</p>
            </button>
            <ion-item-options>
                <button danger (click)="deleteItem(favorite.place)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">

        <ion-segment-button value="favorites">
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="placeMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
